<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora com VueJS</title>
    <link rel="stylesheet" href="./CSS/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container" id= "app">
    
            <div class="form-group">
                <label for="numero1">Primeiro Número:</label>
                <input type="text" id="numero1" name="numero1" v-model.number="numero1"/>
            </div>

            <select v-model="operacao">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="/">/</option>
                <option value="*">*</option>
            </select>

            <div class="form-group">
                <label for="numero2">Segundo Número:</label>
                <input type="text" id="numero2" name="numero2" v-model.number="numero2"/>
            </div>

            <button class="btn btn-primary" v-on:click="calcular()">=</button>
            <ul>
                <li v-for="item in historico">{{item}}</li>
            </ul>
        </div>
   
</div>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                numero1: null,
                numero2: null, 
                operacao: '',
                resultado: null,
                historico: []
            },
            methods: {
                calcular: function() {
                    switch(this.operacao) {
                        case '+':
                        this.resultado = this.numero1 + this.numero2;
                        var conta = this.numero1 + '+' + this.numero2 + '=' + this.resultado;
                        this.historico.push(conta);
                        break;
                        case '-':
                        this.resultado = this.numero1 - this.numero2;
                        var conta = this.numero1 + '-' + this.numero2 + '=' + this.resultado;
                        this.historico.push(conta);
                        break;
                        case '/':
                        this.resultado = this.numero1 / this.numero2;
                        var conta = this.numero1 + '/' + this.numero2 + '=' + this.resultado;
                        this.historico.push(conta);
                        break;
                        case '*':
                        this.resultado = this.numero1 * this.numero2;
                        var conta = this.numero1 + '*' + this.numero2 + '=' + this.resultado;
                        this.historico.push(conta);
                        break;
                    }
                }
                }
                
                }
        )
            

    </script>


    <script src="/JS/jquery-3.5.1.slim.min.js"></script>
    <script src="JS/popper.min.js"></script>
    <script src="JS/bootstrap.min.js"></script>
</body>
</html>