<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CSS/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container" id= "app">
        <h1>Lista de tarefas</h1>
        <input type="text" id="tarefa" v-model="tarefa" />
        <button class="btn btn-primary" v-on:click="adicionarTarefa()">Adicionar</button>
        <ul>
            <li v-for="item in lista">{{item}}</li>
        </ul>
    </div>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                tarefa: '',
                lista: []
            },
            methods: {
                adicionarTarefa: function() {
                    this.lista.push(this.tarefa);
                    this.tarefa ='';
                }
            }
            });

    </script>

    <script src="/JS/jquery-3.5.1.slim.min.js"></script>
    <script src="JS/popper.min.js"></script>
    <script src="JS/bootstrap.min.js"></script>
</body>
</html>